.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 32px 32px;

  @media (min-width: 768px) {
    padding: 32px 80px;
  }
}

.brand {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-img {
  width: 64px;
  height: 64px;
  object-fit: contain;
  display: block;
}

.name {
  font-weight: 900;
  font-size: 32px;
  letter-spacing: -0.03em;
  color: var(--text-900);
}
