.shell {
  height: 100vh;
  display: flex;
  overflow: hidden;
  background: #f5f7f8;
  color: #111418;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}
