<aside class="sidebar">
  <div class="logo">
    <span class="material-symbols-outlined">rocket_launch</span>
  </div>

  <nav class="nav">
    <a
      *ngFor="let i of items"
      class="nav__item"
      [class.nav__item--active]="i.active"
      href="#"
    >
      <span class="material-symbols-outlined nav__icon">{{ i.icon }}</span>
      <span class="nav__label">{{ i.label }}</span>
    </a>
  </nav>

  <div class="bottom">
    <button class="iconbtn" type="button" aria-label="Настройки">
      <span class="material-symbols-outlined">settings</span>
    </button>
  </div>
</aside>
